{% extends "page.html.j2" %}

{% block content %}
<item-detail-view :items="items" :qualifications="qualifications"></item-detail-view>
{% endblock content %}

{% block additional_imports %}
import ItemDetailView from '/static/views/viewitem.js'
import { fetchItems } from '/static/api.js'
{% endblock additional_imports %}

{% block additional_components %}
ItemDetailView,
{% endblock additional_components %}

{% block additional_fetches %}
fetchItems(),
{% endblock additional_fetches %}

{% block additional_data %}
items: additionalResponses[0].data.items,
{%endblock additional_data %}
