{% extends "page.html.j2" %}

{% block content %}
<div>
  <table class="table is-fullwidth responsive-table">
    <thead>
      <tr>
        <th>{{ "{{ $t('fields.username') }}" }}</th>
        <th>{{ "{{ $t('fields.barcode') }}" }}</th>
        <th><abbr :title="$t('permissions.create_users')">👤✨</abbr></th>
        <th><abbr :title="$t('permissions.update_users')">👤✏️</abbr></th>
        <th><abbr :title="$t('permissions.edit_qualifications')">🎓✏️</abbr></th>
        <th><abbr :title="$t('permissions.create_items')">🧰✏️</abbr></th>
        <th><abbr :title="$t('permissions.manage_checkouts')">🧰👋</abbr></th>
        <th>{{ "{{ $t('fields.qualifications') }}" }}</th>
        <th>{{ "{{ $t('fields.actions') }}" }}</th>
      </tr>
    </thead>
    <tbody>
      {% for user in users %}
      <tr>
        <td :data-label="$t('fields.username')">{{ user.username }}</td>
        <td :data-label="$t('fields.barcode')">{{ user.barcode }}</td>
        <td :data-label="$t('permissions.create_users')">
          <input type="checkbox" {% if user.create_users %}checked{% endif %} disabled>
        </td>
        <td :data-label="$t('permissions.update_users')">
          <input type="checkbox" {% if user.update_users %}checked{% endif %} disabled>
        </td>
        <td :data-label="$t('permissions.edit_qualifications')">
          <input type="checkbox" {% if user.edit_qualifications %}checked{% endif %} disabled>
        </td>
        <td :data-label="$t('permissions.create_items')">
          <input type="checkbox" {% if user.create_items %}checked{% endif %} disabled>
        </td>
        <td :data-label="$t('permissions.manage_checkouts')">
          <input type="checkbox" {% if user.manage_checkouts %}checked{% endif %} disabled>
        </td>
        <td :data-label="$t('fields.qualifications')">
          <div class="tags">
            {% for qualification in user.qualifications %}
            <span class="tag">{{ qualification.name }}</span>
            {% endfor %}
          </div>
        </td>
        <td :data-label="$t('fields.actions')">
          <div class="buttons">
            <a href="/users/{{ user.id }}/edit" class="button is-primary is-small">
              {{ "{{ $t('actions.edit') }}" }}
            </a>
            <a href="/users/{{ user.id }}" class="button is-small">
              {{ "{{ $t('actions.view') }}" }}
            </a>
          </div>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <a href="/users/new" class="button">
    {{ "{{ $t('actions.create_user') }}" }}
  </a>
</div>
{% endblock content %}
